@import "variables.scss";

.snapShot {
  margin: 40px;
  border-radius: 0.6em;
  border: .2em solid $highlight;
  display: inline-block;
  padding: 1.5em;
  text-align: center;

  word-wrap:break-word;
  background-color: $link;

}
.container {
  width: 70vw;
  height: 70vh;
}