@import "variables.scss";

.card {
  margin: 40px;
  border-radius: 0.6em;
  border: .1em solid $highlight;
  display: inline-block;
  padding: 1.5em;
  text-align: center;

  min-width: 10em;
  max-width: 15em;

  word-wrap:break-word;
  h3 {
    padding-top: 1em;
  }
}