@import "variables.scss";

.card {
  // margin: auto;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
  border-radius: 0.6em;
  border: .1em solid $highlight;
  display: flex;
  padding: 1.5em;
  text-align: center;

  width: 15em;

  height: 11em;
  max-height: 11em;

  word-wrap:break-word;
  h3 {
    padding-top: 1em;
  }
}