@import "variables.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .5em 2.5em;
  border-radius: 0.6em;
  padding: .5em;
  text-align: center;

  width: 15em;
  word-wrap:break-word;
  h3 {
    padding: 0.5em;
  }
}