@import "variables.scss";

.interval {
  margin: 0 1.5em;
  
  ul, li {
    display: inline-block;
    padding: .5em;
    div {
      display: inline;
      padding-bottom: .3em;
      margin: 1.5em;
      white-space: nowrap;
    }
  }
}
.active {
  color: $highlight;
  border-bottom: .2em solid $highlight;
}
